/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/File/*
##  ファイルの置き場所
/key/*
## アクセスキーの置き場
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
